* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main .content {
    display: flex;
    flex-direction: column;
    align-content: center;

    padding: 48px 18px;
    border-radius: 15px;
    background-color: #f0f0f5;

    text-align: center;
}

.main .content .header {
    margin-bottom: 48px;
}

.main .content .header h5 {
    font-weight: normal;
}

.main .content .fields {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.main .content .fields .field {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
    font-size: 14px;
}

.main .content .fields .field:last-of-type {
    margin-bottom: 48px;
}

.main .content .fields .field label {
    margin-bottom: 5px;
}

.main .content .fields .field input, button {
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 18px;
}

.main .content .fields button {
    background-color: #52ee7b;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}


